<h1>Plant Name: <%= @plant.common_name.capitalize %></h1>
<div class="plant-box">
  <div class="illustration">
    <%= image_tag "herb_illustrations/#{@plant.common_name}.jpg" %>
  </div>
  <div class="plant-data">
    <div class="species">
      <h2>Species</h2>
      <% @plant.species.each do |binomial| %>
        <h3><i><%= binomial %></i></h3>
      <% end %>
    </div>
    <div class="contraindications">
      <h2>Contraindications</h2>
      <% if @plant.contraindications.any? %>
        <% @plant.contraindications.each do |contraindication| %>
          <h3><%= contraindication %></h3>
        <% end %>
      <% else %>
        <h3>No major known contraindications, but always ask your body!</h3>
      <% end %>
    </div>
    <div class="parts">
      <h2>Part(s) used:</h2>
      <% @plant.herbs.each do |herb| %>
        <h3><%= herb.part.structure %></h3>

        <div class="specific">
          <h4>Specific Use</h4>
          <% herb.specifics.each do |specific| %>
            <h5><%= specific.property.name %></h5>
          <% end %>
        </div>
        <div class="properties">
          <h4>Actions</h4>
          <% herb.properties.each do |property| %>
            <h5><%= link_to property.name, property_path(property) %></h5>
          <% end %>
        </div>
        <div class="preparations">
          <h4>Preparations</h4>
          <% herb.preparations.each do |preparation| %>
            <h5><%= link_to preparation.name, preparation_path(preparation) %></h5>
          <% end %>
        </div>
        <div class="best_time_to_collect">
          <h4>Best Time to Collect</h4>
          <h5><%= herb.time_to_collect %></h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
